body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 240, 244);
}

.caixa {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.kyogre {
    width: 150px;
    text-align: center;
    background-color: rgb(230, 236, 246);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid;
    border-color: rgb(101, 104, 132);
}

.jigglypuff {
    width: 150px;
    text-align: center;
    background-color: rgb(194, 197, 202);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid;
    border-color: rgb(139, 141, 153);
}

.jigglypuff:hover {
    width: 160px;
}

.jirachi {
    color: red;
}
